#main {
  margin-top: 60px;
  display: flex;
  min-height: 100vh;
  #aside {
    width: 250px;
    background-color: #fff;
    color: #606d30;
    border-right: 1px solid #a3b466;
    padding: 20px 10px;
    button {
      width: 100%;
      padding: 7px 10px;
      margin-bottom: 20px;
      text-align: left;
      display: flex;
      transition: all 0.2s;
      cursor: pointer;

      &:hover {
        width: 100%;
        background-color: #a3b466;
        border-radius: 50px;
        color: #1f9103;
      }
      h3 {
        font-size: 18px;
        margin-left: 10px;
        color: #232c02;
        font-weight: 500;

        &:nth-child(1) {
          color: #000000;
        }
      }
    }
  }
  #contents {
    width: calc(100% - 250px);
    background-color: #f3ffd2;
    padding: 50px;
    h2 {
      margin-bottom: 20px;
    }
    .videos__inner {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
      .box {
        width: 23%;
        margin-bottom: 3%;
        background-color: rgba($color: #08311b, $alpha: 0.2);
        max-height: 500px;
        img {
          width: 100%;
          height: 200px;
          &:hover {
            transform: scale(102%);
          }
        }
        h3 {
          width: 90%;
          display: inline-block;
          margin: 3% 5%;
          font-size: 1em;
          color: #08311b;
          text-align: left;
          word-break: keep-all;
        }
      }
    }
  }

  @media (max-width: 1500px) {
    #contents {
      .videos__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        .box {
          width: 32%;
          margin-bottom: 5%;
          img {
            width: 300px;
            height: 200px;
            border-radius: 10px;
            &:hover {
              transform: scale(102%);
            }
          }
          span {
            width: 90%;
            display: inline-block;
            margin-top: 3%;
            text-align: left;
            word-break: keep-all;
          }
        }
      }
    }
  }
  @media (max-width: 1200px) {
    .box {
      width: 48%;
      margin-bottom: 5%;
      img {
        width: 300px;
        height: 200px;
        border-radius: 10px;
        &:hover {
          transform: scale(102%);
        }
      }
      span {
        width: 90%;
        display: inline-block;
        margin-top: 3%;
        text-align: left;
        word-break: keep-all;
      }
    }
  }
}
.videoConts {
  background-color: #e5f3dc;
  width: 100%;
  height: 100vh;
  .container {
    margin: 0 auto;
    .video__sub {
      display: flex;
      .left {
        padding-top: 100px;
        padding-left: 180px;
        width: calc(100% - 350px);
        box-sizing: border-box;
        .play {
          div {
            width: 1200px !important;
            height: 600px !important;
          }
        }
        .desc {
          margin-top: 20px;
          width: 1200px;
          display: flex;
          flex-wrap: wrap;
          background-color: #fff;
          padding-left: 10px;
          h3 {
            width: 100%;
            font-size: 30px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
          }
          .channel {
            margin-top: 15px;
            width: 50%;
            height: 100px;

            a {
              font-size: 20px;
              color: #000000;
            }
          }
          .viewlink {
            width: 50%;
            text-align: right;
            vertical-align: bottom;
          }
        }
      }
      .right {
        width: 350px;
        border-left: 1px solid #000000;
      }
    }
  }
}

//-------------------------------로딩
.l-wrapper {
  position: absolute;
  width: 120px;
  height: 120px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  text-align: center;
  svg {
    height: 120px !important;
    width: 120px !important;
    overflow: visible;
    /*   border: 1px solid red; */
  }
}
.g--circle {
  -webkit-transform-origin: 60px 60px;
  transform-origin: 60px 60px;
  fill: dodgerblue;
  -webkit-animation: opacity 1.2s linear infinite;
  animation: opacity 1.2s linear infinite;
}
.g--circle:nth-child(12n + 1) {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
  -webkit-transform: rotate(-30deg) translate(5px, 5px) scale(0.9);
  transform: rotate(-30deg) translate(5px, 5px) scale(0.9);
}
.g--circle:nth-child(12n + 2) {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
  -webkit-transform: rotate(-60deg) translate(5px, 5px) scale(0.9);
  transform: rotate(-60deg) translate(5px, 5px) scale(0.9);
}
.g--circle:nth-child(12n + 3) {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
  -webkit-transform: rotate(-90deg) translate(5px, 5px) scale(0.9);
  transform: rotate(-90deg) translate(5px, 5px) scale(0.9);
}
.g--circle:nth-child(12n + 4) {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
  -webkit-transform: rotate(-120deg) translate(5px, 5px) scale(0.9);
  transform: rotate(-120deg) translate(5px, 5px) scale(0.9);
}
.g--circle:nth-child(12n + 5) {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
  -webkit-transform: rotate(-150deg) translate(5px, 5px) scale(0.9);
  transform: rotate(-150deg) translate(5px, 5px) scale(0.9);
}
.g--circle:nth-child(12n + 6) {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
  -webkit-transform: rotate(-180deg) translate(5px, 5px) scale(0.9);
  transform: rotate(-180deg) translate(5px, 5px) scale(0.9);
}
.g--circle:nth-child(12n + 7) {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
  -webkit-transform: rotate(-210deg) translate(5px, 5px) scale(0.9);
  transform: rotate(-210deg) translate(5px, 5px) scale(0.9);
}
.g--circle:nth-child(12n + 8) {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
  -webkit-transform: rotate(-240deg) translate(5px, 5px) scale(0.9);
  transform: rotate(-240deg) translate(5px, 5px) scale(0.9);
}
.g--circle:nth-child(12n + 9) {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
  -webkit-transform: rotate(-270deg) translate(5px, 5px) scale(0.9);
  transform: rotate(-270deg) translate(5px, 5px) scale(0.9);
}
.g--circle:nth-child(12n + 10) {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
  -webkit-transform: rotate(-300deg) translate(5px, 5px) scale(0.9);
  transform: rotate(-300deg) translate(5px, 5px) scale(0.9);
}
.g--circle:nth-child(12n + 11) {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
  -webkit-transform: rotate(-330deg) translate(5px, 5px) scale(0.9);
  transform: rotate(-330deg) translate(5px, 5px) scale(0.9);
}
.g--circle:nth-child(12n + 12) {
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
  -webkit-transform: rotate(-360deg) translate(5px, 5px) scale(0.9);
  transform: rotate(-360deg) translate(5px, 5px) scale(0.9);
}
.g-circles--v1 .g--circle {
  fill-opacity: 0;
  -webkit-animation-name: opacity;
  animation-name: opacity;
}
.g-circles--v2 .g--circle {
  fill-opacity: 0;
  stroke-opacity: 0;
  stroke-width: 1;
  stroke: yellowgreen;
  -webkit-animation-name: opacity-stroke, colors, colors-stroke;
  animation-name: opacity-stroke, colors, colors-stroke;
}
.g-circles--v2 .g--circle .u--circle {
  -webkit-animation: transform-2 1.2s linear infinite;
  animation: transform-2 1.2s linear infinite;
}
.g-circles--v2 .g--circle:nth-child(12n + 1) .u--circle {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}
.g-circles--v2 .g--circle:nth-child(12n + 2) .u--circle {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.g-circles--v2 .g--circle:nth-child(12n + 3) .u--circle {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
.g-circles--v2 .g--circle:nth-child(12n + 4) .u--circle {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
.g-circles--v2 .g--circle:nth-child(12n + 5) .u--circle {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.g-circles--v2 .g--circle:nth-child(12n + 6) .u--circle {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
.g-circles--v2 .g--circle:nth-child(12n + 7) .u--circle {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
.g-circles--v2 .g--circle:nth-child(12n + 8) .u--circle {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.g-circles--v2 .g--circle:nth-child(12n + 9) .u--circle {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.g-circles--v2 .g--circle:nth-child(12n + 10) .u--circle {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.g-circles--v2 .g--circle:nth-child(12n + 11) .u--circle {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.g-circles--v2 .g--circle:nth-child(12n + 12) .u--circle {
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
}
.g-circles--v3 .g--circle {
  fill-opacity: 1;
  -webkit-animation-name: opacity, colors;
  animation-name: opacity, colors;
}
.g-circles--v4 .g--circle {
  fill-opacity: 1;
  fill: orange;
  -webkit-animation-name: opacity, colors-3;
  animation-name: opacity, colors-3;
}
.g-circles--v4 .u--circle {
  -webkit-animation: transform 1.2s linear infinite;
  animation: transform 1.2s linear infinite;
}
.g-circles--v4 .g--circle:nth-child(12n + 1) .u--circle {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}
.g-circles--v4 .g--circle:nth-child(12n + 2) .u--circle {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.g-circles--v4 .g--circle:nth-child(12n + 3) .u--circle {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
.g-circles--v4 .g--circle:nth-child(12n + 4) .u--circle {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
.g-circles--v4 .g--circle:nth-child(12n + 5) .u--circle {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.g-circles--v4 .g--circle:nth-child(12n + 6) .u--circle {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
.g-circles--v4 .g--circle:nth-child(12n + 7) .u--circle {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
.g-circles--v4 .g--circle:nth-child(12n + 8) .u--circle {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.g-circles--v4 .g--circle:nth-child(12n + 9) .u--circle {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.g-circles--v4 .g--circle:nth-child(12n + 10) .u--circle {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.g-circles--v4 .g--circle:nth-child(12n + 11) .u--circle {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.g-circles--v4 .g--circle:nth-child(12n + 12) .u--circle {
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
}
@-webkit-keyframes opacity {
  3% {
    fill-opacity: 1;
  }
  75% {
    fill-opacity: 0;
  }
}
@keyframes opacity {
  3% {
    fill-opacity: 1;
  }
  75% {
    fill-opacity: 0;
  }
}
@-webkit-keyframes opacity-stroke {
  10% {
    stroke-opacity: 1;
  }
  85% {
    stroke-opacity: 0;
  }
}
@keyframes opacity-stroke {
  10% {
    stroke-opacity: 1;
  }
  85% {
    stroke-opacity: 0;
  }
}
@-webkit-keyframes colors {
  0% {
    fill: yellowgreen;
  }
  10% {
    fill: gold;
  }
  75% {
    fill: crimson;
  }
}
@keyframes colors {
  0% {
    fill: yellowgreen;
  }
  10% {
    fill: gold;
  }
  75% {
    fill: crimson;
  }
}
@-webkit-keyframes colors-stroke {
  0% {
    stroke: yellowgreen;
  }
  10% {
    stroke: gold;
  }
  75% {
    stroke: crimson;
  }
}
@keyframes colors-stroke {
  0% {
    stroke: yellowgreen;
  }
  10% {
    stroke: gold;
  }
  75% {
    stroke: crimson;
  }
}
@-webkit-keyframes colors-2 {
  0% {
    fill: yellow;
  }
  50% {
    fill: red;
  }
  65% {
    fill: orangered;
  }
  95% {
    fill: gold;
  }
}
@keyframes colors-2 {
  0% {
    fill: yellow;
  }
  50% {
    fill: red;
  }
  65% {
    fill: orangered;
  }
  95% {
    fill: gold;
  }
}
@-webkit-keyframes colors-3 {
  0% {
    fill: yellowgreen;
  }
  50% {
    fill: turquoise;
  }
  65% {
    fill: yellow;
  }
  95% {
    fill: orange;
  }
}
@keyframes colors-3 {
  0% {
    fill: yellowgreen;
  }
  50% {
    fill: turquoise;
  }
  65% {
    fill: yellow;
  }
  95% {
    fill: orange;
  }
}
@-webkit-keyframes transform {
  10% {
    -webkit-transform-origin: 70px 70px;
    transform-origin: 70px 70px;
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }
}
@keyframes transform {
  10% {
    -webkit-transform-origin: 70px 70px;
    transform-origin: 70px 70px;
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }
}
@-webkit-keyframes transform-2 {
  40% {
    -webkit-transform: scale(0.85) translate(10px, 10px);
    transform: scale(0.85) translate(10px, 10px);
  }
  60% {
    stroke-width: 20;
  }
}
@keyframes transform-2 {
  40% {
    -webkit-transform: scale(0.85) translate(10px, 10px);
    transform: scale(0.85) translate(10px, 10px);
  }
  60% {
    stroke-width: 20;
  }
}
